<footer>
  <div class="social_media">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="images/fb.png" alt="facebook"></a>
    <a href="https://www.linkedin.com/in/zachary-gaines"><img src="images/linkedin.png" alt="linkedin"></a>
    <a href="https://twitter.com/zachGainesDEV"><img src="images/twitter.png" alt="twitter"></a>
  </div>
  <p class="copyright">
    Copyright 2016. Zach Gaines
  </p>
</footer>
