<% include partials/head%>
  <body>
    <h1><%= title %></h1>

    <div class="people">
      // May need to make different route. Depending on how we route
      // Will likely need another function calling the for each of every profile to match user name and picture to profile's about me
    </div>
  </body>
</html>
