<% include partials/head%>
  <body>
    <% include partials/navbar%>
    <h1><%= title %></h1>
    <% users.forEach(function(user) { %>
    <div class="people">
      <h2> <%= user.firstname %>, <%= user.lastname %> </h2>
      <img src="<%= user.image_url %>" style="max-height: 100px; max-width: 100px;"/>
      <% }) %>
  </body>
</html>
