<% include partials/head %>
<body>
  <h1>Login</h1>
  <form method="post" action="/">
    Email: <input type="text" name="email">
    Password: <input type="text" name="password">
    <input type="submit" value="Login"/>
  </form>
</body>
</html>
