<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1> Hello, <%= user.firstname %></h1>
  <img src="<%= user.image_url %>" alt="<%= user.firstname %>">
  <p><%= profile.aboutme %></p>
</body>
</html>
