<% include partials/head %>
<body>
  <% include partials/navbar %>
  <h1>Edit Your Profile Info</h1>
  <form action="/profile" method="post">
    Location: <input type="text" name="location">
    About Me: <textarea name="aboutme"></textarea>
    Age: <input type="text" name="age">
    <input type="submit" value="Submit"/>
  </form>
</body>
</html>
