<% include partials/head %>
<body>
  <% include partials/navbar %>
  <h1>Edit Your Profile Info</h1>
  <form action="profile" method="post" accept-charset="utf-8">
    About Me: <textarea name="firstname"></textarea>
    Location: <input type="text" name="lastname">
    Age: <input type="text" name="email">
    <input type="submit" value="Submit"/>
  </form
</body>
</html>
