<% include partials/head %>
<body>
  <% include partials/navbar %>
  <h1> Hello, <%= firstname %></h1>
  <img src="<%= image_url %>" style="max-height: 100px; max-width: 100px; alt="<%= firstname %>">
</body>
</html>
