<% include partials/head %>

  <h1>Signup</h1>
  <form method="post" action="/signup">
    <div class="firstname">First Name: <input type="text" name="firstname"</div>
    <div class="lastname">Last Name: <input type="text" name="lastname"></div>
    <div class="emailz">  E-Mail: <input type="text" name="email"></div>
    <div class="password">Password: <input type="password" name="password"></div>
    <div class="phone">Phone: <input type="text" name="phone"></div>
    <div class="profilepic">Profile Picture: <input type="text" name="image_url"></div>
    <div class="location">Location: <input type="text" name="location"></div>
    <div class="aboutme">About Me: <input type="text" name="aboutme"></div>
    <div class="age">Age: <input type="text" name="age"></div>
    <div class="button"><input type="submit" value="Create Profile"/></div>
  </form>
<% include partials/footer %>
</html>
