body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.navbar-inverse .navbar-nav li a {
  color: white;
}
.navbar-inverse .navbar-nav .active a {
  background-color: #33adff;
}

#login-body {
  text-align: center;
}
#signup-body {
  text-align: center;
}

.all-people {
  width:95%;
  position:absolute;
}
.title {
  text-align: center;
}

#buttons {
  text-align: center;
}


.user {
  width: 31%;
  display: inline-flex;
  border: 3px solid #33adff;
}
