body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.navbar-inverse .navbar-nav li a {
  color: white;
}
.navbar-inverse .navbar-nav .active a {
  background-color: #33adff;
}

#login-body {
  text-align: center;
}
#signup-body {
  text-align: center;
}

.all-people {
  width:95%;
}
.title {
  text-align: center;
}

#buttons {
  text-align: center;
}
.userName {
  float:left;
}
.profilePic {
  float:left;
}
label {
  text-align: left;
}
#everyoneBut {
  float:left;
}
.btn {
  margin-top: 10px;
}
.signupBody {
  text-align: center;
}
.editBody {
  text-align: center;
}
.left-profile {
  position: relative;
  width:45%;
  float: left;
}
.aboutme {
  width: 45%;
  float: left;
}
.user {
  width: 31%;
  display: inline-flex;
  border: 3px solid #33adff;
  padding: 10px;
  margin: 5px;
}
