body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.navbar-inverse .navbar-nav li a {
  color: #ffb3ff;
}





.title {
  text-align: center;
}

#buttons {
  text-align: center;
}
